<%= form_for(@lawnground) do |f| %>
  <% if @lawnground.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lawnground.errors.count, "error") %> prohibited this lawnground from being saved:</h2>

      <ul>
      <% @lawnground.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
